* {
    padding: 0;
    margin: 0;
}

button {
    padding: 6px 14px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
}

button:hover {
    background-color: #e3e2e2;
    cursor: pointer;
}

.btn-danger {
    background-color: rgb(218, 67, 67);
    color: white;
}

.btn-danger:hover {
    background-color: rgb(201, 53, 53);
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.error__alert {
    background-color: #f870707a;
    color: #582222;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 14px;
}